<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<div id="page" layout:fragment="content">
    <div class="container">
        <div class="mt-5">

            <div class="container">

                <h3>Submission Plagiarism Percentages</h3>

                <hr/>

                <table class="table table-bordered table-striped">

                    <thead>
                    <tr>
                        <th>Submission ID</th>
                        <th>Plagiarism Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="plagiarismReport: ${plagiarismReports}">
                        <td th:text="${plagiarismReport.submissionId}" />
                        <td th:text="${plagiarismReport.plagiarismPercentage}" />
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>

</html>